# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Cloud\SourceFiles\ProjectTL12345\JVM Project\Kotlin\Minecraft Plugin\Project_TL-weapon_plugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
